<h1>Name: <%= @project.name %></h1>
<h3>Description: <%= @project.description %></h3>
<p>ID: <%= @project.id %></p>
<p>Created at: <%= @project.created_at %></p>
<p>Updated at: <%= @project.updated_at %></p>
<%= link_to "See Time Entries", "/projects/#{@project.id}/time_entries" %>
<%= link_to "Add Time Entry", "/projects/#{@project.id}/time_entries/new" %>
<%= link_to "Project Index", "/projects" %>
