<h2>Create a time entry for your project</h2>
<% if @time_entry.errors.present? %>
  <ul>
    <% @time_entry.errors.full_messages.each do |msg| %>
      <li class="validation"><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for [@project, @time_entry] do |f| %>
  <%= f.text_field :hours, :placeholder => "Hours" %>
  <%= f.text_field :minutes, :placeholder => "Minutes" %>
  <%= f.text_field :comment, :placeholder => "Comment" %>
  <%= f.text_field :date, :placeholder => "Date" %>
  <%= f.submit 'Save' %>
<% end %>
<%= link_to "Project", "/projects/#{@project.id}" %>
<%= link_to "Time Entries", "/projects/#{@project.id}/time_entries" %>
